input,button, h1,h2,h3,h4,h5, label
{
	color: #35B0F2 ;
	font-family: 'Open Sans', sans-serif;
}
button 
{
	font-family: 'Open Sans', sans-serif;
}
*
{
	padding: 0px;
	margin: 0px;
}
h1,form{
	padding: 15px;
}
nav 
{
	
	width: 100%;
	height: 90px;
	background-color: #5C6062;
	
}
.container
{
	margin: auto;
	width: 100%;
	height: 85%;
	background-color: blue;

}

#textinput
{
	width: 200px;
	height: 30px;
	display: inline;
}
#signin_btn
{
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 3px;

}

.failed-alert
{
	width: 100%;
	height: 50px;
	background-color: #FFC2C2;
	text-align: center;
	color: #FF3333;
}

.failed-alert p
{
	padding: 15px;
}


.success-alert
{
	width: 100%;
	height: 50px;
	background-color: #82C565;
	text-align: center;
	color: black;
}

.success-alert p
{
	padding: 15px;
}
html, body, ul{
	padding: 0px;
	margin: 0px;
	background-;color: #0404B4;
}

input,button, h1,h2,h3,h4,h5,span
{
	color: #484848; ;
	font-family: 'Open Sans', sans-serif;
}
nav 
{
	
	width: 100%;
	height: 8%;
	background-color: #E4E4E4;
	border-bottom: 1px solid #B4B4B4;
	
}




a{
	text-decoration: none;
	color: #484848; ;
	
	display: inline-block;
	padding: 5px;
	
}

li{
 list-style-type: none;
 	font-family: 'Open Sans', sans-serif;
 	display: inline-block;

}
ul{
	display: inline-block;
	float: right;
	padding: 20px;
}


.stats-container
{
	margin-top: 0px;
	width: 70%;
	height: 90%;
	 margin: auto;
	  display: block;
}
.stats
{
	width: 400px;
	height: 300px; 
	margin: 15px; 
	/*border: 1px solid #E8E6E6;*/
	border-radius: 3px;
	display: inline-block; 
	 float: left;
}
.stat-heading-container
{
	width: 100%;
	height: 30px;
	/*border-bottom: 1px solid #E8E6E6;*/
}
.stat-heading
{
	display:block;
	margin: auto; 
	text-align: center;
	width: 100%;
	height: 15px;
	/*border-bottom: 1 px solid #E8E6E6;*/
}
.sections
{
	width: 100%;
	height: 30px;
	padding: 5px;
	/*border-bottom: 1px solid #E8E6E6;*/
}

.section-title
{
	display:inline; 
	 float: left;
	  margin: 0px;
	  margin-left: 10px;
	   padding: 0px; 
}

.section-info
{
	display:inline;  float: right;  margin: 0px; margin-right: 10px; padding: 0px;
}